@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 440px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 440px;
  }
}
@media (max-width: 440px) {
  .container {
    max-width: 340px;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 280px;
  }
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-col {
  flex-direction: column;
}

html {
  font-size: 14px;
}

body {
  font-family: "Gotham Pro", sans-serif;
  color: white;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.page-btn {
  cursor: pointer;
  font-weight: 700;
  font-family: Gotham Pro;
  font-size: 1rem;
}

.page-h2 {
  font-size: 1.8rem;
  line-height: 23px;
  text-transform: uppercase;
}

.page-lines {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  opacity: 0.1;
}
.page-lines div {
  width: 100%;
  height: 100%;
  border-left: 2px solid #d8d8eb;
  border-right: 2px solid #d8d8eb;
}
.page-lines div:first-of-type {
  max-width: 285px;
  border-right: none;
}
.page-lines div:last-of-type {
  max-width: 285px;
  border-left: none;
}
.page-lines div:nth-child(3) {
  border-left: none;
}

main {
  position: relative;
  z-index: 0;
}
main .main-page {
  width: 100%;
  position: relative;
  background: center/cover url(assets/images/main_bg.png) no-repeat;
  z-index: 0;
}
main .main-page::before {
  background: right bottom url(assets/images/logotype_2.png) no-repeat;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 4;
}
main .main-page .gradient-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #001122 0%, #015c78 0.01%, #012a38 100%);
  opacity: 0.9;
  position: absolute;
  z-index: 1;
}
main .main-page .container {
  position: relative;
  z-index: 100;
  padding: 62px 0px 230px 0px;
}
main .main-page .container .head-panel {
  z-index: 20;
  width: 100%;
  margin-bottom: 195px;
}
@media (max-width: 768px) {
  main .main-page .container .head-panel {
    flex-direction: column !important;
    align-items: center;
  }
}
main .main-page .container .head-panel .time-counter {
  width: 346px;
  position: relative;
}
main .main-page .container .head-panel .time-counter .counter-element-container {
  position: relative;
  text-align: center;
}
main .main-page .container .head-panel .time-counter .counter-element-container div {
  font-size: 3.7rem;
  font-weight: bold;
}
main .main-page .container .head-panel .time-counter .counter-element-container:last-of-type::before {
  content: "";
  right: 0;
}
main .main-page .container .head-panel .time-counter .counter-element-container:before {
  content: ":";
  right: -22px;
  position: absolute;
  font-size: 3.7rem;
  font-weight: bold;
}
main .main-page .container .head-panel .lang-panel {
  max-width: 268px;
  width: 100%;
}
main .main-page .container .head-panel .lang-panel li {
  border: 1px solid white;
  padding: 13px 10px;
  font-weight: bold;
  line-height: 13px;
  cursor: pointer;
}
main .main-page .container .head-panel .lang-panel .active-lang {
  background-color: white;
  color: #17376a;
}
@media (max-width: 992px) {
  main .main-page .container .head-content-container {
    flex-direction: column !important;
  }
}
main .main-page .container .head-content-container ul {
  max-width: 300px;
  width: 100%;
}
main .main-page .container .head-content-container ul li {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 32.7%;
  text-transform: uppercase;
  margin-bottom: 42px;
  cursor: pointer;
}
main .main-page .container .head-content-container ul li:hover {
  transform: scale(1.05) translateX(10px);
}
main .main-page .container .head-content-container .head-content {
  max-width: 700px;
  width: 100%;
}
main .main-page .container .head-content-container .head-content .content-logo {
  width: 100%;
  height: 154px;
  margin-bottom: 26px;
  background: right 50% url(assets/images/logotype_1.png);
}
main .main-page .container .head-content-container .head-content p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 1.3rem;
  text-align: justify;
}
main .main-page .container .head-content-container .head-content button {
  border: none;
  padding: 18px 58px;
  color: white;
  background-color: #dba682;
  transition: 0.3s;
}
main .main-page .container .head-content-container .head-content button:hover {
  background-color: #f7e7de;
  color: #dba682;
}

.about-conference {
  padding: 62px 0px 47px 0px;
  color: #001122;
  position: relative;
  z-index: 10;
}
.about-conference p {
  font-size: 1rem;
  line-height: 20px;
  text-align: justify;
}
.about-conference > p {
  margin-bottom: 30px;
}
.about-conference .conference-content {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .about-conference .conference-content {
    flex-direction: column !important;
  }
}
.about-conference .conference-content .conference-text {
  position: relative;
  z-index: 11;
  max-width: 585px;
  width: 100%;
}
.about-conference .conference-content .conference-text h2 {
  margin-bottom: 17px;
}
.about-conference .conference-content .conference-text .fa-ellipsis-h {
  font-family: "Font Awesome 5 free", sans-serif;
  color: #dba682;
  font-size: 1.4rem;
  margin-bottom: 17px;
}
.about-conference .conference-content .conference-text p:first-of-type {
  margin-bottom: 20px;
}
.about-conference .conference-content .conference-picture {
  position: relative;
  z-index: 11;
  max-width: 544px;
  width: 100%;
  height: 307px;
  background: no-repeat url(assets/images/conference_image.png);
}

.program-places-container {
  padding-top: 78px;
  background: linear-gradient(0deg, #001122 0%, #015c78 0.01%, #012a38 100%);
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.program-places-container .page-lines {
  top: -500px;
}
.program-places-container .aside-logo {
  background: -40px 280px url(assets/images/logotype_3.png) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.program-places-container::before {
  background: right bottom url(assets/images/logotype_2.png) no-repeat;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.program-places-container .conference-program {
  position: relative;
  z-index: 10;
}
.program-places-container .conference-program .conference-program-head {
  margin-bottom: 72px;
}
.program-places-container .conference-program .conference-program-head .program-title h2 {
  margin-bottom: 21px;
}
.program-places-container .conference-program .conference-program-head .program-title .fa-ellipsis-h {
  font-family: "Font Awesome 5 free", sans-serif;
  color: #dba682;
  font-size: 1.4rem;
}
.program-places-container .conference-program .conference-program-head button {
  padding: 13.5px 22px 13.5px 30px;
  background-color: transparent;
  border: 1px solid #dba682;
  color: #dba682;
}
.program-places-container .conference-program .conference-program-content {
  background-color: white;
  color: #001122;
  padding: 60px 70px 111px 70px;
}
.program-places-container .conference-program .conference-program-content .program-dates {
  max-width: 520px;
  width: 100%;
  margin-bottom: 74px;
  border-bottom: 1px solid #d8d8eb;
}
.program-places-container .conference-program .conference-program-content .program-dates div {
  font-weight: bold;
  line-height: 23px;
  color: #d8d8eb;
  padding-bottom: 15px;
}
.program-places-container .conference-program .conference-program-content .program-dates .active-date {
  color: #dba682;
  border-bottom: 2px solid #dba682;
  position: relative;
}
.program-places-container .conference-program .conference-program-content .program-dates .active-date::before {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 45%;
  font-family: "Font Awesome 5 free", sans-serif;
  color: #dba682;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card {
  margin-bottom: 26px;
  width: 100%;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card:last-of-type {
  margin-bottom: 48px;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .place-and-time {
  padding: 13px 30px 8px 30px;
  border: 1px solid #d8d8eb;
  border-bottom: none;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .place-and-time .place-and-time-element {
  margin-right: 19px;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .place-and-time .place-and-time-element h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #dba682;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content {
  padding: 26px 34px 22px 30px;
  border: 1px solid #d8d8eb;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content h3 {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 23px;
  position: relative;
  cursor: pointer;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content .active-dropdown::before {
  content: "";
  position: absolute;
  right: -2%;
  font-family: "Font Awesome 5 free", sans-serif;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content .active-dropdown + .dropdown-paragraph {
  margin-top: 12px;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content .dropdown-paragraph {
  display: none;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .description-card .program-dropdown-content .disabled-dropdown::before {
  content: "";
  position: absolute;
  right: -2%;
  font-family: "Font Awesome 5 free", sans-serif;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .page-btn {
  color: white;
  background-color: #dba682;
  border: 1px solid transparent;
  padding: 13.5px 52px 13.5px 60px;
  transition: 0.3s;
}
.program-places-container .conference-program .conference-program-content .program-descriptions .page-btn:hover {
  border: 1px solid #dba682;
  background-color: #ffffff;
  color: #dba682;
}
.program-places-container .venues {
  position: relative;
  z-index: 10;
  padding: 136px 0px 212px 0px;
}
.program-places-container .venues .venues-title {
  margin-bottom: 57px;
}
.program-places-container .venues .venues-title h2 {
  margin-bottom: 21px;
}
.program-places-container .venues .venues-title .fa-ellipsis-h {
  font-family: "Font Awesome 5 free", sans-serif;
  color: #dba682;
  font-size: 1.4rem;
}
@media (max-width: 992px) {
  .program-places-container .venues .venues-gallery {
    flex-direction: column !important;
    align-items: center;
  }
}
.program-places-container .venues .venues-gallery .venue-card {
  max-width: 270px;
  width: 100%;
  height: 400.82px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 992px) {
  .program-places-container .venues .venues-gallery .venue-card {
    margin-bottom: 40px;
  }
}
.program-places-container .venues .venues-gallery .venue-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(360deg, rgba(238, 169, 131, 0.74) 22.12%, rgba(196, 196, 196, 0) 52.77%);
  mix-blend-mode: multiply;
}
.program-places-container .venues .venues-gallery .venue-card:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.program-places-container .venues .venues-gallery .venue-card:hover::before {
  display: none !important;
}
.program-places-container .venues .venues-gallery .venue-card::before {
  position: absolute;
  max-width: 205px;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  line-height: 19px;
  bottom: 36px;
  left: 19px;
  text-transform: uppercase;
  z-index: 10;
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(1) {
  background: url(assets/images/venue_1.png);
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(1)::before {
  content: "Конгресс-Центр Астана";
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(2) {
  background: url(assets/images/venue_2.png);
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(2)::before {
  content: "отель hilton astana";
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(3) {
  background: url(assets/images/venue_3.png);
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(3)::before {
  content: "мфца (блок с4.4)";
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(4) {
  background: url(assets/images/venue_4.png);
}
.program-places-container .venues .venues-gallery .venue-card:nth-child(4)::before {
  content: "Выставочный центр корме";
}

/*# sourceMappingURL=style.css.map */
