* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
{
  margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 1200px ) {
    max-width:  992px;
  }
  @media (max-width: 992px ) {
    max-width:  768px;
  }
  @media (max-width: 768px ) {
    max-width:  576px;
  }
  @media (max-width: 576px ) {
    max-width:  440px;
  }
  @media (max-width: 576px ) {
    max-width:  440px;
  }
  @media (max-width: 440px ) {
    max-width:  340px;
  }
  @media (max-width: 375px ) {
    max-width:  280px;
  }
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.flex-direction-col {
  flex-direction: column;
}